<header>
  <nav id="main-header" class="py-1 mb-3 navbar navbar-expand-sm text-dark">
    <span class="navbar-brand mr-auto float-right">Paid tickets</span>

    <!--TODO: replace [routerLink] on ngForm-->
    <form class="form-inline"
          id="FormFilterDate"
          [routerLink]="['/paid-tickets']"
          method="post">

      <div class="form-group">
        <input #startDate
               type="date"
               class="form-control"
               value="">
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input #finishDate
             type="date"
             class="form-control"
             value="">
      &nbsp;&nbsp;&nbsp;
      <div>
        <a (click)="onSearchPaidTicketsByDate(startDate.value, finishDate.value)"
           class="btn btn-dark btn"
           data-toggle="tooltip"
           data-placement="left"
           title="Filter date">
          <i class="far fa-calendar-alt"></i>
          <span class="d-none d-sm-inline">Search</span>
        </a>
      </div>
      &nbsp;
    </form>
  </nav>
</header>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <ng-container *ngIf="searchPaidTickets">
            <thead class="thead-inverse">

            <tr>
              <th style="color: black">#</th>
              <th style="color: black">Date</th>
              <th style="color: black">From</th>
              <th style="color: black">To</th>
              <th style="color: black">Cost</th>
              <th style="color: black">E-mail</th>
            </tr>

            </thead>

            <tbody>

            <tr *ngFor="let paidTicket of paidTickets; let index = index">
              <td>{{index + 1}}</td>
              <td>{{paidTicket.paymentDate | date: 'longDate'}}</td>
              <td>{{paidTicket.fromCity}}</td>
              <td>{{paidTicket.toCity}}</td>
              <td>{{paidTicket.ticketCost}}</td>
              <td>{{paidTicket.email}}</td>

              <td>

                                    <span data-toggle="modal" data-target="#deleteDialog"
                                          class="navbar-nav float-right"
                                          data-id="${paymentss.paymentId}"
                                          data-name="${paymentss.paymentId}">

                                        <a [routerLink]="['#']"
                                           class="btn btn-dark"
                                           title="delete payment"
                                           data-toggle="tooltip"
                                           data-placement="top">
                                            <i class="fa fa-remove"></i>
                                            <span class="d-none d-md-inline">Delete</span></a>

                                    </span>

                <span class="navbar-nav float-right">
                                        <a  [routerLink]="['#']"
                                            class="btn btn-dark"
                                            title="Edit payment"
                                            data-toggle="tooltip"
                                            data-placement="top">
                                            <i class="fa fa-pencil"></i>
                                            <span class="d-none d-md-inline">Edit</span></a>
                                    </span>

              </td>
            </tr>
            </tbody>
          </ng-container>

          <ng-container *ngIf="!searchPaidTickets">
            <thead class="thead-inverse">
            <tr>
              <th style="color: black">#</th>
              <th style="color: black">From</th>
              <th style="color: black">To</th>
              <th style="color: black">Count</th>
              <th style="color: black">Cost</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let paidTicket of paidTickets; let index = index">
              <td>{{index + 1}}</td>
              <td>{{paidTicket.fromCity}}</td>
              <td>{{paidTicket.toCity}}</td>
              <td>{{paidTicket.paymentDate | date: 'longDate'}}</td>
              <td>{{paidTicket.ticketCost}}</td>
            </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Total: {{ticketCount}}</td>
                  <th>{{totalSum}}<th>
                </tr>

            </tbody>
          </ng-container>
        </table>
      </div>
    </div>
  </div>
</section>




<!--TODO: Need write the method for the paid-tickets at a server-->

<!-- Confirm delete Modal -->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header alert-danger">
        <h5 class="modal-title" id="exampleModalLabel">Delete ticket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please confirm delete payment
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a id="deleteUrl" [routerLink]="['#']" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
