<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand"
     [routerLink]="['/']">
    <img src="../../../assets/img/account.png"
         width="30" height="30" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Togglenavigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"
           [routerLink]="['/search-tickets']">Search</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"
           [routerLink]="['/tickets']">Schedule</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"
           [routerLink]="['/paid-tickets']">Paid tickets</a>
      </li>
    </ul>
  </div>

</nav>

<header>
  <nav id="main-header" class="py-1 mb-3 navbar navbar-expand-sm navbar-light bg-light text-dark">
    <span class="navbar-brand mr-auto">Train schedule</span>
    <ul class="navbar-nav float-right">
      <li>
        <a [routerLink]="['/tickets/#']"
           class="btn btn-dark btn"
           data-toggle="tooltip"
           data-placement="left"
           title="Save ticket">
          <i class="fas fa-save"></i>
          <span class="d-none d-sm-inline">&nbsp;Add</span></a>
      </li>
    </ul>
  </nav>
</header>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <thead class="thead-inverse">
          <tr>
            <th style="color: black">Train</th>
            <th style="color: black">From</th>
            <th style="color: black">To</th>
            <th style="color: black">Cost</th>
            <th style="color: black">Date</th>
            <th style="color: black"></th>
          </tr>
          </thead>


          <tbody>
          <tr *ngFor="let ticket of tickets; let index = index">
            <td id="ticketId">{{index + 1}}</td>
            <td>{{ticket.fromCity}}</td>
            <td>{{ticket.toCity}}</td>
            <td>{{ticket.ticketCost}}</td>
            <td>{{ticket.ticketDate }}</td>
            <td>

                                     <span id="payId"
                                           data-toggle="modal"
                                           class="navbar-nav float-right"
                                           (click)="openDialog(); findTicketAndSendToChild(ticket.id)">
                                        <a id="aPay"
                                           class="btn btn-dark pay"
                                           title="Pay ticket"
                                           data-toggle="tooltip"
                                           data-placement="top">
                                                <i class="fa fa-pencil"></i>
                                            <span class="d-none d-md-inline">Pay</span></a>
                                    </span>
            </td>
            <td>
                                    <span
                                          data-toggle="modal"
                                          class="navbar-nav float-right"
                                          (click)="openDeleteDialog(); deleteTicket = ticket.id">
                                        <a class="btn btn-dark"
                                           title="delete ticket"
                                           data-toggle="tooltip"
                                           data-placement="top">
                                            <i class="fa fa-remove"></i>
                                            <span class="d-none d-md-inline">Delete</span></a>
                                    </span>

                                    <span class="navbar-nav float-right">
                                        <a [routerLink]="['/ticket/${ticket.ticketId}']"
                                           class="btn btn-dark"
                                           title="Edit ticket"
                                           data-toggle="tooltip"
                                           data-placement="top">
                                                <i class="fa fa-pencil"></i>
                                            <span class="d-none d-md-inline">Edit</span></a>
                                    </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


<app-pay-dialog [display]="displayPayModal"
                [ticket]="ticket"
                (displayPayModal)="receiveEventToClosePayDialog($event)"></app-pay-dialog>
<app-delete-dialog  [display]="displayDeleteModal"
                    [deleteTicket]="deleteTicket"
                    (displayDeleteModal)="receiveEventToCloseDeleteDialog($event)"></app-delete-dialog>
