<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">

    <title>Hello, world!</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand"
       href="index.html"
       th:href="@{/index}">
        <img src="../../resources/static/img/account.png"
             th:src="@{/resources/static/img/account.png}"
             width="30" height="30" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Togglenavigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link"
                   href="choose-direction.html"





                   th:href="@{/tickets}">Choose direction </a>





            </li>
            <li class="nav-item active">
                <a class="nav-link"
                   href="tickets-all.html"
                   th:href="@{/tickets}">Schedule</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link"
                   href="paid-tickets.html"
                   th:href="@{/paid-tickets}">Paid tickets</a>
            </li>
        </ul>
    </div>
</nav>

<header>
    <nav id="main-header" class="py-1 mb-3 navbar navbar-expand-sm navbar-light bg-light text-dark">
        <span class="navbar-brand float-right">Cooise direction</span>
    </nav>
</header>

<div class="container-fluid">
    <div class="container">
        <div class="row text-center">
            <form action="" method="post" class="row">
            <tr>
                <td>
                    <div class="col-sm-3"></div>
                </td>
                <td>
                    <div class="col-sm-2">
                        <span>From</span>
                    </div>
                </td>
                <td>
                    <div class="col-sm-4">
                        <select class="form-control" name="from_id">
                            <option value="1">Brest</option>
                            <option value="2">Minsk</option>
                            <option value="3">Grodno</option>
                            <option value="4">Gomel</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="col-sm-2"></div>
                </td>
                <td>
                    <div class="col-sm-1"></div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="col-sm-3"></div>
                </td>
                <td>
                    <div class="col-sm-2">
                        <span>To</span>
                    </div>
                </td>
                <td>
                    <div class="col-sm-4">
                        <select class="form-control" name="to_id">
                            <option value="1">Brest</option>
                            <option value="2">Minsk</option>
                            <option value="3">Grodno</option>
                            <option value="4">Gomel</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="col-sm-2"></div>
                </td>
                <td>
                    <div class="col-sm-1"></div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="col-sm-3"></div>
                </td>
                <td>
                    <div class="col-sm-2">
                        <span>Date</span>
                    </div>
                </td>
                <td>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" name="date">
                    </div>
                </td>

                <td>
                    <div class="col-sm-2">
                        <form>
                            <input type="button" value="Search" onClick='location.href="tickets.html"' th:href="@{/tickets}">
                        </form>
                    </div>
                </td>
            </tr>
            </form>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>