<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand"
     [routerLink]="">
    <img src="../../../assets/img/account.png"
         width="30" height="30" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Togglenavigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"
           [routerLink]="['/search-tickets']">Search</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"
           [routerLink]="['/tickets']">Schedule</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"
           [routerLink]="['/paid-tickets']">Paid tickets</a>
      </li>
    </ul>
  </div>

</nav>
<!--  It's tickets/:-->
<header>
  <nav id="main-header"
       class="py-1 mb-3 navbar navbar-expand-sm navbar-light bg-light text-dark">
        <span id="isNew" class="navbar-brand mr-auto">
                Add ticket
                Edit ticket
        </span>

    <ul class="navbar-nav float-right">
      <li class="nav-item"><a [routerLink]="['/tickets']"
                              class="btn btn-dark"
                              data-toggle="tooltip"
                              data-placement="left"
                              title="Return">
        <i class="fas fa-undo"></i>
        <span class="d-none d-sm-inline">&nbsp;Return</span></a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item"><a
                              (click)=form.submit()

                              class="btn btn-dark"
                              title="Save ticket"
                              data-toggle="tooltip"
                              data-placement="bottom">
        <i class="fas fa-undo"></i>
        <span class="d-none d-sm-inline">&nbsp;Save</span></a>
    </ul>
  </nav>
</header>

<section id="ticket">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card-body">


          <form #form
                [action]="['/tickets/5']">


            <tr>
              <div class="form-group">
                <label>Select from a city</label>
                <select class="form-control" name="cityFrom" >
                  <option value="BREST">BREST</option>
                  <option value="MINSK">MINSK</option>
                  <option value="VITEBSK">VITEBSK</option>
                  <option value="GOMEL">GOMEL</option>
                  <option value="GRODNO">GRODNO</option>
                  <option value="MOGILEV">MOGILEV</option>
                </select>
              </div>
            </tr>

            <tr>
              <div class="form-group">
                <label>Select to a city</label>
                <select class="form-control" name="cityTo" >
                  <option value="BREST">BREST</option>
                  <option value="MINSK">MINSK</option>
                  <option value="VITEBSK">VITEBSK</option>
                  <option value="GOMEL">GOMEL</option>
                  <option value="GRODNO">GRODNO</option>
                  <option value="MOGILEV">MOGILEV</option>
                </select>
              </div>
            </tr>

            <tr>
              <div class="form-group">
                <label>Price of ticket</label>
                <input
                       name="ticketCost"
                       class="form-control"
                       type="text"
                       value=""
                       placeholder="Enter price"/>
              </div>
            </tr>

            <tr><td><label>Select a date</label>
              <div class="form-group">
                <input
                       name="ticketDate"
                       type="date"
                       class="form-control"
                       value=""/>
              </div>
            </tr>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
